<%- include("partials/header") -%>
<div class="firstAboutDiv">
  <h1>About</h1>
  <img src="images/circle-cropped (7).png" class="aboutPic" alt="">
  <p> <%= aboutContent %> </p>
</div>
<hr class="aboutHR">
<div class="secondAboutDiv">
  <h3>Experience</h3>
  <img src="images/circle-cropped (3).png" class="aboutPic" alt="">
  <p> <%= experience %> </p>
</div>
<hr class="aboutHR">
<div class="thirdAboutDiv">
  <h3>Interests</h3>
  <img src="images/circle-cropped (5).png" class="aboutPic" alt="">
  <p> <%= interests %> </p>
</div>
  <%- include("partials/footer") -%>
