<%- include("partials/header"); -%>
<div class="homeParagraph">
<h1>Home</h1>
<p> <%= homeStartingContent %> </p>
<img class="homeImage" src="images/circle-cropped (6).png" alt="">
</div>
<div class="divTealBackground">
  <div class="posts">


  <h3>Please sign up for our newsletter and consider leaving an encouraging message for our next visitor!</h3>
<!-- <button type="submit" href="/newsletter" name="button">Newsletter</button>
<button type="submit" href="/compose" name="button">Pass it on...</button> -->
  <a class="btn btn-success button" href="/newsletter">Newsletter</a>
  <a class="btn btn-success button" href="/compose">Pass it on...</a>



  for (var i = 0; i < posts.length; i++) {
    <hr class="styleHR">
    <h1> <%= post.title(i) %> </h1>
      <p> <%= post.content(i) %> </p>
  <% }) %>
  </div>
  </div>






<!-- <h3 class="newsletterInvite">Please sign up for our newsletter!.</h3> -->


<%- include("partials/footer") -%>
